#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
*.tfplan
*.pem

# Don't commit working example file
actualConnectionTest.rb

backend.tf